*{
    margin: 0;
    padding: 0;
}


.crypto-info-container {
    display: grid;
    grid-template-rows: 1px;
    grid-template-columns: 120px 50px 20px 190px 190px 190px 190px ;
    grid-template-areas: "searchbar button empty price marketcap volume supply";
    padding: 25px;
    width: 950px;
    height: 0px;
    margin: auto auto;
    color: white;
    background-color: #21242F;
    font-size: 15px;
    border-bottom: 2px solid #293241;

}

.crypto-button{
    grid-area: button;
    height: 30px;
    align-self: center;
}


.crypto-searchbar{
    grid-area: searchbar;
    height: 30px;
    width: 100px;
    align-self: center;
}

.crypto-info-price{
    grid-area: price;
    align-self: center;
}

.crypto-info-mc{
    grid-area: marketcap;
    align-self: center;
}
.crypto-info-vol{
    grid-area: volume;
    align-self: center;
}
.crypto-info-sup{
    grid-area: supply;
    align-self: center;
}